{% extends './admin/admin-layout.html.twig' %}

{% block title %}
Thêm mới sản phẩm
{% endblock %}

{% block body %}

{% embed 'partial/components/_addNewComponent.html.twig' with {
        title: 'Thêm sản phẩm',
        title_icon: 'ant-design:product-filled'
    } %}
        {% block form %}
           {{form_start(form,{'attr':{'class':'space-y-2'}})}}
                {{form_errors(form)}}
                    <div>
                        {{form_label(form.name,null,{'label_attr':{'class':'block text-gray-700 font-medium mb-1'}})}}
                        {{form_widget(form.name, {'attr':{'class':'w-full px-2 py-1 border rounded-lg shadow-sm focus:ring-gray-800'}})}}
                        {{ form_errors(form.name) }}
                    </div>
                    <div>
                        {{form_label(form.description,null,{'label_attr':{'class':'block text-gray-700 font-medium mb-1'}})}}
                        {{form_widget(form.description, {'attr':{'class':'w-full px-2 py-1 border rounded-lg shadow-sm focus:ring-gray-800'}})}}
                        {{ form_errors(form.description) }}
                    </div>
                    <div>
                        {{form_label(form.price,null,{'label_attr':{'class':'block text-gray-700 font-medium mb-1'}})}}
                        {{form_widget(form.price, {'attr':{'class':'w-full px-2 py-1 border rounded-lg shadow-sm focus:ring-gray-800'}})}}
                        {{ form_errors(form.price) }}
                    </div>
                    <div>
                        {{form_label(form.category,null,{'label_attr':{'class':'block text-gray-700 font-medium mb-1'}})}}
                        {{form_widget(form.category, {'attr':{'class':'w-full px-2 py-1 border rounded-lg shadow-sm focus:ring-gray-800'}})}}
                        {{ form_errors(form.category) }}
                    </div>
                    <div>
                        {{form_label(form.image,null,{'label_attr':{'class':'block text-gray-700 font-medium mb-1'}})}}
                        {{form_widget(form.image, {'attr':{'onchange':'previewImage(this)','accept':'image/*'}})}}
                        <div id="previewContainer" class="mt-2">
                            <img
                            id="imagePreview" 
                                src="image source"
                                class="hidden max-w-sm rounded"
                            />
                            <p id="previewMessage" class="text-sm mt-2 text-red-500 hidden"></p>
                        </div>
                        {% if form.image.vars.errors|length > 0 %}
                            <p class="text-red-500 text-sm mt-1">
                                {{ form_errors(form.image) }}
                            </p>
                        {% endif %}
                </div>
                <div class="flex justify-center items-center">
                    <button type="submit" class="outline-none px-3 py-1 text-sm font-semibold border border-2 border-gray-800 rounded-sm bg-gray-800 text-white 
                    hover:opacity-[0.9] flex items-center gap-2
                transition-all">
                    Tạo sản phẩm
                    {{ ux_icon('formkit:submit',{class:'w-5 h-5'}) }}
                    </button>
                </div>
            {{form_end(form)}}
        {% endblock %}
    {% endembed %}
    
{% endblock %}